<div class="container-jumbotron" width="70%">
    <form>
      <div class="row">
        <div class="col">
          <label for="MODEL">Select a Model</label>
        </div>
        <div class = "col">
          <select class="form-control" name="MODEL">
            <option value="logreg">Logistic Regression</option>
            <option value="dtree">Decision Tree</option>
            <option value="rfe">Random Forest</option>
            <option value="svm">SVM</option>
            <option value="ensemble">Ensembled</option>
          </select>
        </div></div>
    </form>
  </div>